.main-title {
    text-align: center;
}

.section.is_gray {
    background: #ddd;
}

.slider-frame {
    margin: 10%;
}

.index-container {
    border-radius: 7px;
    background: white;
    border: 3px #ddd solid;
    min-height: 140px;
}

.unknown-data {
    opacity: 0.3;
}

.rc-slider-handle {
/* border: solid 2px #96dbfa; */
border: solid 2px #002b3e;
}

.rc-slider-track {
/* background-color: #abe2fb; */
background-color: #005277;
}

.rc-slider-dot-active {
/* border-color: #96dbfa; */
border-color: #01374f;
}
  